# POSTGRES
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# PGADMIN
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# MINIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# AIRFLOW SERVICES
FERNET_KEY=
AIRFLOW_PROJ_DIR=

# AIRFLOW POSTGRES
AIRFLOW_POSTGRES_USER=
AIRFLOW_POSTGRES_PASSWORD=
AIRFLOW_POSTGRES_DB=

# AIRFLOW INIT
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=